*{
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  align-items: center;
}

.container img{
  margin-top: 30px;
  width: 70%;
}
.container h1 {
  text-align: center;
}
.container h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0.6px;
  text-align: center;
  color: #888;
  padding-top: 5px;
}
.container #form {
  background-color: inherit;
  margin: auto;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.container #search {
  width: 250px;
  height: 37px;
  border-radius: 10px;
  border: solid 0.8px #ccc;
  background-color: inherit;
  display: block;
  margin: auto;
  margin-top: 10px;
  font-family: Mukta, sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #3B3C40;
  box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.2);
}

.container #submit {
  width: 60px;
  height: 40px;
  border-radius: 50px;
  border-color: inherit;
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 30px;
  font-family: Mukta, sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.3px;
  text-align: center;
  color: #888;
  margin-right: -3px;
}

.container #submit:hover {
  color: #007286;
  cursor: pointer;
}

.container #submit:active {
  background-color: #3B3C40;
  border-color: #007286;
  color: #FFF;
  cursor: pointer;
}

.flex {
  width: auto;
}
#box-image {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 15px;
  box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.5);
}

.flex-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
#box-text1{
  display: flex;
  width:auto;
  height:auto;
  padding-left: 20px;
  padding-right: 20px;
}
#box-text2{
  display: flex;
  width:auto;
  height:auto;
  padding-left: 20px;
  padding-right: 20px;
}
#box-text3{
  display: flex;
  width:auto;
  height:auto;
  padding-left: 20px;
  padding-right: 20px;
}

#box-text4{
  display: flex;
  flex-wrap: wrap;
  width:auto;
  height:auto;
  padding-left: 20px;
  padding-right: 20px;
  display: none;
}
#box-text5{
  display: flex;
  flex-wrap: wrap;
  width:auto;
  height:auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

h3 {
  font-family: 'Domine', serif;
  font-size: 1.1em;
  color: #222;
}

h4 {
  font-family: 'Domine', serif;
  font-size: 0.9em;
  color: #999;
}

h5 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 0.8em;
  color: #aaa;
}

a {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 0.9em;
  font-weight: 200;
  text-align: left;
  color: #007286;
  margin-bottom: 15px;
}

a:visited {
  color: #aaa;
  cursor: pointer;
}

@media only screen and (min-width: 768px){

  .container img{
    margin-top: 20px;
    width: 68%;
  }
  .container h1 {
    margin-top: 50px;
  }
  .container h2 {
    font-size: 1.4em;
    padding-top: 15px;
  }

  .container #form {
    margin-bottom: 50px;
  }

  .container #search {
    width: 450px;
    height: 45px;
    border-radius: 6px;
  }

  .container #submit {
    width: 70px;
    height: 50px;
    border-radius: 70px;
  }
  .flex {
    position: absolute;
  }
  #box-image {
    position: absolute;
    width: 20%;
    margin-left: 8%;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.5);
  }

  .flex-text {
    margin-left: 30%;
  }

  #box-text1{
    align-self: flex-start;
    text-align: left;
    width:65%;
  }

  #box-text2{
    align-items: flex-start;
    text-align: left;
    width:65%;
    padding-top: 5px;
  }

  #box-text3{
    align-self: flex-start;
    text-align: left;
    width:65%;
    padding-top: 5px;
  }

  #box-text4{
    align-self: flex-start;
    text-align: left;
    width:56%;
    height:auto;
    padding-top: 5px;
    display: block;
  }
  #box-text5{
    align-self: flex-start;
    text-align: left;
    width:65%;
    padding-top: 5px;
    margin-bottom: 100px;
  }

  h3 {
    font-size: 1.6em;
  }

  h4 {
    font-size: 1.3em;
  }

  h5 {
    font-size: 1em;
  }
  p {
    font-family: 'Vesper Libre', serif;
    font-size: 1.1em;
    color: #777;
  }

  a {
    font-size: 1em;
  }

  a:visited {
    color: #aaa;
    cursor: pointer;
  }

  /* ------------------------------------------------- */
  @media only screen and (min-width: 1000px){

    .container img{
      width: 40%;
    }
    .container h1 {
      margin-top: 30px;
    }
    .container h2 {
      font-size: 1.3em;
      padding-top: 30px;
    }
    .container #form {
      margin-bottom: 90px;
    }

    .container #search {
      width: 550px;
      height: 50px;
      border-radius: 10px;
      margin-top: 10px;
    }

    .container #submit {
      margin-top: 20px;
    }

    #box-image {
      width: 10%;
      margin-left: 27%;
    }

    .flex-text {
      margin-left: 38%;
    }
    #box-text1{
      width:50%;
    }
    #box-text2{
      width:50%;
    }
    #box-text3{
      width:50%;
    }

    #box-text4{
      width:45%;
    }
    #box-text5{
      width:50%;
    }
    p {
      font-size: 1em;
    }
    a {
      font-size: 0.9em;
    }
  }
