*{
  margin: 0;
  padding: 0;
}

  .container {
    width: 100%;
    align-items: center;
  }
    .container h1 {
      font-family: Mukta, sans-serif;
      font-size: 4em;
      font-weight: 700;
      text-align: center;
      color: #007286;
      margin-bottom: 0px;
      margin-top: 30px;
    }
    .container h2 {
      font-family: Mukta, sans-serif;
      font-size: 1.3em;
      font-weight: 200;
      letter-spacing: 0.6px;
      text-align: center;
      color: #888;
      margin-bottom: 15px;
      margin-top: 0px;
    }
      .container #form {
        background-color: inherit;
        margin: auto;
        margin-top: 20px;
        width: 100%;
        text-align: center;
      }

      .container #search {
        width: 350px;
        height: 37px;
        border-radius: 5px;
        border: solid 0.8px #ccc;
        background-color: inherit;
        display: block;
        margin: auto;
        margin-top: 10px;
        font-family: Mukta, sans-serif;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 0.2px;
        text-align: center;
        color: #3B3C40;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
      }

      .container #submit {
        width: 125px;
        height: 30px;
        border-radius: 8px;
        border-color: inherit;
        background-color: #fff;
        margin-top: 30px;
        margin-bottom: 30px;
        font-family: Mukta, sans-serif;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.3px;
        text-align: center;
        color: #888;
        margin-right: -3px;
      }

      .container #submit:hover {
        color: #007286;
        cursor: pointer;
      }

      .container #submit:active {
        background-color: #3B3C40;
        border-color: #007286;
        color: #FFF;
        cursor: pointer;
      }

  .flex-container {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
    .flex-container > div {
      display: flex;
      flex-basis: calc(100% - 40px);
      justify-content: center;
      flex-direction: column;
    }
      #image {
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 10px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
      }
    .flex-container > div > div {
      display: flex;
      flex-direction: row;
    }
      #text {
        width:100%;
        padding-left: 20px;
        padding-right: 20px;
      }

  .box {
    margin: 20px;
    justify-content: center;
  }

h3 {
  font-family: Mukta, sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #007286;
}

h4 {
    font-family: Mukta, sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: #888;
}

p {
  font-family: Mukta, sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-align: justify;
  color: #777;
  display: none;
}

a {
  font-family: Mukta, sans-serif;
  font-size: 1em;
  font-weight: 200;
  text-align: left;
  color: #007286;
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px){
  .container {
    width: auto;
    margin: 0 auto;
  }
    .container h1 {
      margin-bottom: -20px;
      margin-top: 30px;
    }
    .container h2 {
      margin-bottom: -15px;
      margin-top: 15px;
    }

  .flex-container > div > div {
    width: 50%;
   }
    #text {
      width:100%;
    }
  .box {
    width: 50%;
  }
  p {
    display: block;
  }

@media only screen and (min-width: 1000px){
  .container {
    width: 1000px;
  }
  .flex-container > div > div {
    width: 100%;
  }

    #image {
      margin-left: 70px;
    }
    #text {
      width:100%;
      margin-left: 50px;
      margin-right: 60px;
    }
  .box {
    width: 50%;
  }
  p {
    display: block;
  }
}
