* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  align-items: center;
}

.container img {
  margin-top: 30px;
  width: 60%;
}

.container h1 {
  text-align: center;
}

.container h2 {
  font-family: 'Major Mono Display', monospace;
  font-size: 0.7em;
  text-align: center;
  color: #000;
  padding-top: 20px;
}

.container #form {
  background-color: inherit;
  margin: auto;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.container #search {
  width: 250px;
  height: 37px;
  border-radius: 20px;
  border: solid 0.8px #888;
  background-color: inherit;
  display: block;
  margin: auto;
  margin-top: 15px;
  font-family: 'Capriola', sans-serif;
  font-size: 15px;
  text-align: center;
}

::placeholder {
  font-style: italic;
  font-size: 10px;
  color: #aaa;
  opacity: 0.9;
}

.container #submit {
  width: 55px;
  height: 35px;
  border-radius: 50px;
  border-color: inherit;
  background-color: #000;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: 'Major Mono Display', monospace;
  font-size: 18px;
  letter-spacing: 0.3px;
  text-align: center;
  color: #fff;
}

.container #submit:hover {
  background-color: #007286;
  color: #FFF;
  cursor: pointer;
}

.container #submit:active {
  background-color: #007286;
  color: #FFF;
  cursor: pointer;
}

.flex {
  width: auto;
}

#box-image {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 15px;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.5);
}

.flex-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

#box-text1 {
  display: flex;
  width:auto;
  height:auto;
  padding-left: 20px;
  padding-right: 20px;
}

#box-text2 {
  display: flex;
  width:auto;
  height:auto;
  padding-left: 20px;
  padding-right: 20px;
}

#box-text3 {
  display: flex;
  width:auto;
  height:auto;
  padding-left: 20px;
  padding-right: 20px;
}

#box-text4 {
  display: flex;
  flex-wrap: wrap;
  width:auto;
  height:auto;
  padding-left: 20px;
  padding-right: 20px;
  display: none;
}

#box-text5 {
  display: flex;
  flex-wrap: wrap;
  width:auto;
  height:auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

h3 {
  font-family: 'Major Mono Display', monospace;
  font-size: 0.8em;
  color: #222;
  padding-bottom: 3px;
  text-transform: lowercase;
}

h4 {
  font-family: 'Capriola', sans-serif;
  font-size: 0.7em;
  color: #999;
  padding-bottom: 2px;
}

h5 {
  font-family: 'Capriola', sans-serif;
  font-size: 0.6em;
  color: #aaa;
  padding-bottom: 2px;
}

a {
  font-family: 'Capriola', sans-serif;
  font-size: 0.6em;
  font-weight: 200;
  text-align: left;
  color: #007286;
  margin-bottom: 15px;
}

a:visited {
  color: #aaa;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {

  .container img {
    margin-top: 20px;
    width: 50%;
  }

  .container h1 {
    margin-top: 50px;
  }

  .container h2 {
    font-size: 1.2em;
    padding-top: 40px;
  }

  .container #form {
    margin-bottom: 50px;
  }

  .container #search {
    width: 550px;
    height: 60px;
    border-radius: 35px;
    font-size: 19px;
  }

  ::placeholder {
    font-size: 17px;
  }

  .container #submit {
    width: 70px;
    height: 50px;
    border-radius: 70px;
  }

  .flex {
    position: absolute;
  }

  #box-image {
    position: absolute;
    width: 20%;
    margin-left: 8%;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.5);
  }

  .flex-text {
    margin-left: 30%;
  }

  #box-text1 {
    align-self: flex-start;
    text-align: left;
    width:60%;
  }

  #box-text2 {
    align-items: flex-start;
    text-align: left;
    width:60%;
    padding-top: 5px;
  }

  #box-text3 {
    align-self: flex-start;
    text-align: left;
    width:60%;
    padding-top: 5px;
  }

  #box-text4 {
    align-self: flex-start;
    text-align: left;
    width:56%;
    height:auto;
    padding-top: 5px;
    display: block;
  }

  #box-text5 {
    align-self: flex-start;
    text-align: left;
    width:60%;
    padding-top: 5px;
    margin-bottom: 100px;
  }

  h3 {
    font-size: 1.6em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 0.9em;
  }

  p {
    font-family: 'Vesper Libre', serif;
    font-size: 1.1em;
    font-style: italic;
    color: #777;
  }

  a {
    font-size: 1em;
  }

  a:visited {
    color: #aaa;
    cursor: pointer;
  }

  @media only screen and (min-width: 1000px) {

    .container img {
      width: 22%;
    }

    .container h1 {
      margin-top: 70px;
    }

    .container h2 {
      font-size: 1.1em;
      padding-top: 55px;
    }

    .container #form {
      margin-top: 20px;
      margin-bottom: 90px;
    }

    .container #search {
      width: 550px;
      height: 50px;
      border-radius: 30px;
      margin-top: 10px;
      font-size: 16px;
      letter-spacing: 0.8px;
    }

    ::placeholder {
      font-size: 15px;
      color: #bbb;
      opacity: 0.9;
    }

    .container #submit {
      margin-top: 20px;
      font-size: 18px;
    }

    #box-image {
      width: 7%;
      margin-left: 30%;
    }

    .flex-text {
      margin-left: 38%;
    }

    #box-text1 {
      width:50%;
    }

    #box-text2 {
      width:50%;
    }

    #box-text3 {
      width:50%;
    }

    #box-text4 {
      width:45%;
    }

    #box-text5 {
      width:50%;
      margin-bottom: 80px;
    }

    h3 {
      font-size: 1.4em;
      padding-bottom: 3px;
    }

    h4 {
      font-size: 1.2em;
      padding-bottom: 3px;
    }

    h5 {
      font-size: 0.8em;
      padding-bottom: 3px;
    }

    p {
      font-size: 1em;
    }

    a {
      font-size: 0.8em;
    }
  }
